.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
}

.link {
    display: block;
    list-style: none;
    padding: 10px 15px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.55);
}
.link:hover {
    background-color: rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.9);
}

.link-active {
    background-color: #0d6efd;
    color: #fff;
}

#laboratorio-main {
    position: relative;
    width: calc(100% - 300px);
    top: 0;
    left: 300px;
    overflow: auto;
}

.background-laboratorio {
    background-color: #eeeff1;
}

.custom-table {
    border-collapse: collapse;
    width: 100%;
}

/* background-color: rgba(0, 0, 0, .03);*/

.custom-table th {
    padding: 4px;
    color: rgba(108, 117, 125);
}

.custom-table td {
    padding: 6px;
    height: 20px;
}
.custom-table tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/*.form-control:read-only{
  border: 1px solid #000;
  background-color: #fff;
}
.form-label{
  border: 2px solid lightgray;
  background-color: #F8F9FA;
}*/

